@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import 'react-toastify/dist/ReactToastify.css';

body{
    
    font-family: 'Poppins' !important;
    color: #045256;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
 
  flex: 1 0 auto;
background: #9AB8BA;  /* fallback for old browsers */


}
#checkbox {
  width: 1rem
}

form span {
  font-size: .8rem
}

#reset_pass_lbl {
  float: left
}
h2 {
  font-weight: 300
}
.bgColor{
  background-color: #258BD6 !important;
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background: #016170;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}
svg{
  margin: 0 auto;

}
.mYclass{
  margin-top: 164px;
}

.scrollme {
  overflow-x: auto;
}